@import "tailwindcss";


@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/inter/InterTight-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@theme {
    --font-inter: "InterTight", "sans-serif";

    --color-dark: #0C0C0C;
    --color-light: #F1EBBB;
}

body{
    background-color: var(--color-dark);
}